<!--
  Chris Clifford
  1/2019

  client/views/index.html
    index view for responses 
-->

<!DOCTYPE html>

<html ng-app="eveNix">

  <head>
    <base href="/"></base>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eve-nix</title>
    <link rel="stylesheet" href="/stylesheets/css/amelia.bootstrap.min.css">
  </head>

  <body>
    <div class="container" ng-view></div>
    
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>
    <script src="/javascripts/angular-sanitize.min.js"></script>
    <script src="/javascripts/eveNix.min.js"></script>
  </body>

</html>
