:root {
  --bg-color: #6e92aa;
  --primary-color: #7373ca;
}

.text-layout {
  text-decoration: none;
  font-family: Calibri;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}

#body {
  position: relative;
  top: 80px;
  margin: auto;
}

@media all and (max-width: 516px) {
  #body {
    top: 120px;
  }
}

